<mat-toolbar class="header">
  <img draggable="false" src="logo_transparent.png" class="logo">
  <span class="appbar-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list class="main" rowHeight="1000px" cols="5">
  <mat-grid-tile colspan="2">1</mat-grid-tile>
  <mat-grid-tile colspan="3">
    <div id="map"></div>
  </mat-grid-tile>
</mat-grid-list>

<mat-toolbar class="footer">
  <img draggable="false" src="logo_transparent.png" class="logo">

  <mat-grid-list gutterSize="20px" rowHeight="150px" class="footer-grid" cols="1">
    <mat-grid-tile rowspan="1">Fondatori</mat-grid-tile>
    <mat-grid-tile class="founder" rowspan="1">
      <div class="img-container">
        <img src="https://placehold.co/150x150" alt="" srcset="">
      </div>
      <span>Andrei Vasilescu</span>
    </mat-grid-tile>
    <mat-grid-tile class="founder" rowspan="1">
      <div class="img-container">
        <img src="https://placehold.co/150x150" alt="" srcset="">
      </div>
      <span>Ana Stanculescu</span>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">...</mat-grid-tile>
  </mat-grid-list>

</mat-toolbar>
