<div class="compatibility-info">
  <h1 class="person-name">{{content.personName}}</h1>

  <div *ngFor="let reason of content.reasons" class="reason">
    <h3 class="reason-title">{{reason.title}}</h3>
    <p class="reason-text">{{reason.text}}</p>
  </div>

  <h3 class="schedule-text">
    <strong>Programează întâlnire online</strong>
  </h3>

  <div class="date-time">
    <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput
             readonly="true"
             [matDatepicker]="datepicker"
             (dateChange)="picked()"
             [formControl]="date"
             (click)="datepicker.open()">
      <mat-datepicker #datepicker />
      <mat-datepicker-toggle [for]="datepicker"
                             matSuffix />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ora</mat-label>
      <input matInput
             readonly="true"
             [matTimepicker]="timepicker"
             [formControl]="time">
      <mat-timepicker #timepicker
                      (selected)="picked()" />
      <mat-timepicker-toggle [for]="timepicker"
                             matSuffix />
    </mat-form-field>
  </div>
</div>
