@let questionaire = content.q;
@let qIndex = content.qIndex;
@let q = getQuestion(content)!;

<h1 class="q-title">{{questionaire.title}}</h1>
<br>

<div class="progress-text">{{qIndex + 1}}/{{totalQuestions(content)}}</div>

<mat-progress-bar mode="determinate"
                  [color]="'#080'"
                  [value]="(qIndex + 1) / totalQuestions(content) * 100" />
<br>

@let sub = getSectionTitle(content);
@if(sub) {
<h2 class="q-subtitle">{{sub}}</h2>
}

<h4 class="q-text"
    [class.spacing]="!sub">
  {{q.text}}
</h4>

@if(q.type === 'order') {
<div class="order-q">
  <div cdkDropList
       class="order-q-list"
       (cdkDropListDropped)="reorder($event)">
    @for(optID of currentOrder(q); track optID) {
    <div class="order-q-box"
         [attr.data-opt-id]="optID"
         [innerHTML]="findText(q, optID)"
         cdkDrag>
    </div>
    }
  </div>
</div>
}

@if(q.type === 'select') {
@let multiple = isAllowedMultipleChoiceAnswer(q);


@if(multiple) {
<div>
  @for(opt of q.options; track opt.id) {
  <mat-checkbox (change)="saveAnswer(opt.id, $event.checked)"
                [checked]="getOptionValue(opt.id) ?? false">
    {{ opt.text }}
  </mat-checkbox>
  <br>
  }
</div>
} @else {
<ng-container>
  @if(q.preferDropdown && !q.multipleChoiceInfo && !q.openAnswerInfo) {
  <mat-form-field>
    <mat-select placeholder="Selectați"
                [value]="findFirstSelectAnswer(q)?.oId"
                (selectionChange)="saveAnswer($event.value, true)">
      @for(opt of q.options; track opt.id) {
      <mat-option [value]="opt.id">
        {{ opt.text }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  } @else {
  <ng-container>
    @for(opt of q.options; track opt.id) {
    <mat-radio-button (change)="saveAnswer(opt.id, true)"
                      [checked]="getOptionValue(opt.id) ?? false">
      {{ opt.text }}
    </mat-radio-button>
    }
  </ng-container>
  }
</ng-container>
}

<ng-container>
  @let txtVal = getOptionValue(OTHER_OPTION_ID);
  @let openAnsChecked = txtVal != null;

  @if (q.openAnswerInfo) {
  @if(multiple) {
  <mat-checkbox (change)="saveAnswer(OTHER_OPTION_ID, $event.checked ? '' : false)"
                [checked]="openAnsChecked">
    {{ q.openAnswerInfo.text }}
  </mat-checkbox>
  } @else if (!isSingleOpenAnser(q)) {
  <mat-radio-button (change)="saveAnswer(OTHER_OPTION_ID, '')"
                    [checked]="openAnsChecked">
    {{ q.openAnswerInfo.text }}
  </mat-radio-button>
  }

  @if(openAnsChecked) {
  <mat-form-field class="area"
                  [class.single]="!!isSingleOpenAnser(q)">
    <textarea matInput
              [value]="txtVal"
              (input)="saveAnswer(OTHER_OPTION_ID, val($event.target))">
    </textarea>
  </mat-form-field>
  }
  }
</ng-container>

}

<div class="buttons">
  <button mat-flat-button
          color="primary"
          [style.visibility]="qIndex === 0 ? 'hidden' : 'visible'"
          (click)="navQuestion(-1, content)">
    Înapoi
  </button>

  <button mat-flat-button
          color="primary"
          [style.visibility]="qIndex === totalQuestions(content) - 1 ? 'hidden' : 'visible'"
          (click)="navQuestion(1, content)">
    Înainte
  </button>
</div>