<h2 mat-dialog-title
    class="create-acc-title">
  {{ DIAG_TITLE[data.type] }}
</h2>

<mat-dialog-content>
  @if (PHONE_STATES.includes(data.type)) {
  <mat-form-field class="phone">
    <mat-label>Număr de telefon</mat-label>
    <input [formControl]="phoneNumber"
           matInput
           cdkFocusInitial />
  </mat-form-field>
  @if (!phoneNumber.value?.match(this.MOBILE_PATTERN)) {
  <mat-error class="phone-err">Incorect</mat-error>
  } @else {
  <mat-error class="phone-err"></mat-error>
  }
  }

  @if (data.type === 'code') {
  <mat-form-field>
    <mat-label>Cod confirmare</mat-label>
    <input [formControl]="code"
           matInput />
  </mat-form-field>
  }

  @if (PASSWORD_STATES.includes(data.type)) {
  <mat-form-field class="password">
    <mat-label>Parola</mat-label>
    <input [formControl]="password"
           type="password"
           matInput />
  </mat-form-field>
  }

  @if(data.type === 'login') {
  <a href="#"
     (click)="$event.preventDefault(); navigateToReset()"
     class="reset-link">
    Ai uitat parola? Reseteaza
  </a>
  }

  @let pw = pwVal$ | async; @let okEnabled = okEnabled$ | async;

  @if (PASSWORD_VALIDATION_STATES.includes(data.type)) {
  <mat-error>
    @for (check of passwordChecks; track check.regexp) {
    <div>
      @if (isValid(pw, check.regexp)) {
      <span class="line green">
        <mat-icon>check</mat-icon> {{ check.message }}
      </span>
      } @if (!isValid(pw, check.regexp)) {
      <span class="line">
        <mat-icon>cancel</mat-icon> {{ check.message }}
      </span>
      }
    </div>
    }
  </mat-error>
  }

  @if (data.type === 'register') {
  <mat-checkbox class="first"
                [formControl]="privacy">
    Am citit și sunt de acord cu
    <a href="#"> Politica de confidențialitate </a>
  </mat-checkbox>

  <mat-checkbox [formControl]="terms">
    Am citit și sunt de acord cu
    <a href="#"> Termenii și condițiile </a>
  </mat-checkbox>
  }

</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="!okEnabled"
          (click)="submit()"
          mat-button>OK
  </button>
</mat-dialog-actions>
