/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Galanogrotesque';
  src: url('https://cdn.prod.website-files.com/66fd1e0da791d1db3f43e9bb/66fd1e0da791d1db3f43ea03_galanogrotesque-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$tb-height: 80px;
$gutter: 20px;
$ft-height: 600px + $gutter * 3;
$bkp: 1850px;

app-root {
  height: 100%;
  display: block;

  mat-toolbar {
    &.header {
      height: $tb-height;
      z-index: 1000;
      top: 0;
      left: 0;
      position: fixed;

      .appbar-spacer {
        flex: 1 1 auto;
      }

      .logo {
        width: 150px;
        position: relative;
        left: -40px;
      }
    }

    &.footer {
      padding: 0;
      height: $ft-height;
      display: block;
      overflow: hidden;
      position: relative;

      .logo {
        z-index: 500;
        position: absolute;
        top: -40px;
        left: -40px;
        width: 200px;
      }
    }
  }

  .map-container {
    height: 1000px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    margin-top: $tb-height;

    @media (width <= $bkp) {
      justify-content: left;
    }

    #map {
      position: absolute;
      top: 0;
      right: 0;
      height: 1000px;
      width: 8000px;
      transform: translateX(3900px);
      z-index: 1;

      // style is from https://docs.mapbox.com/help/tutorials/custom-markers-gl-js/
      .marker {
        background-image: url("https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .title {
      user-select: none;
      z-index: 2;
      font-family: Galanogrotesque,sans-serif;
      font-size: 60px;
      margin-right: 800px;
      @media (width <= $bkp) {
        margin-right: unset;
        margin-left: 100px;
      }

      .register {
        background-color: rgb(66 100 251);
        padding: 40px;
        font-size: 24px;
        margin-top: 50px;
      }

      .already {
        font-size: 24px;
        a {
          color: #2bb9e8;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-grid {
    .founder {
      .img-container {
        border-radius: 50%;
        overflow: hidden;
        height: 150px;
        width: 150px;
        margin-right: 20px;

        img {
        }
      }
    }

    mat-grid-tile {
      // background: lightgrey;
    }
  }
}

.mat-mdc-dialog-container {
  .create-acc-title {
    margin-bottom: 25px;
  }

  .mat-mdc-dialog-content {
    overflow: hidden;
  }

  .mat-mdc-form-field {
    width: 100%;

    &.password {
      .mat-mdc-form-field-subscript-wrapper {
        height: 0;
      }
    }
    &.phone {
      .mat-mdc-form-field-subscript-wrapper {
        height: 28px;
      }
    }
  }

  .mat-mdc-form-field-error .line {
    height: 26px;
    display: flex;

    .mat-icon {
      margin-right: 10px;
    }

    &.green {
      color: #2d44aa;
    }
  }

  .mat-mdc-checkbox {
    left: -10px;

    &.first {
      margin-top: 6px;
    }

    a {
      font-weight: 550;
      color: #2d44aa;
    }
  }
}
